rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    match /vehicle-docs/{vehicleId}/{docId}/{fileName} {
      allow read, write: if true;
    }
    match /{allPaths=**} {
      allow read, write: if false;
    }
  }
}
